/* Estilos generales para los botones */
button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: hsl(323, 100%, 50%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease; /* Agregamos la transici贸n de la sombra y el zoom */
  box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 40px hsl(323, 100%, 50%); /* Agregamos la sombra neon blanca */
}

/* Estilo para el bot贸n activo */
button.active {
  background-color: white;
  color: hsl(323, 100%, 50%);
  box-shadow: none; /* Removemos la sombra para resaltar el color blanco */
}

/* Estilos al pasar el cursor sobre los botones */
button:hover {
  background-color: #e7a7d6;
  transform: scale(1.05); /* Aplicamos un leve zoom al bot贸n cuando pasamos el cursor */
}

/* Estilo para el bot贸n activo con color de fondo blanco */
button.active:hover {
  background-color: white;
  color: hsl(323, 100%, 50%);
}
